create table if not exists public.leads (
  id uuid primary key default gen_random_uuid(),
  escola_id uuid references public.escolas(id) on delete cascade not null,
  nome text not null,
  status text default 'Novo',
  interesse text,
  data_origem timestamp with time zone default now(),
  ultimo_contato timestamp with time zone,
  prioridade text default 'Média',
  contato text,
  created_at timestamp with time zone default now()
);
